{% extends  'sayt/base.html' %}
{% load static %}
{% block title %} <title>Доставка ic-stock.ru</title> {% endblock %}

{% block content %}

<div
class="hero page-inner overlay"
style="background-image: url('../../static/sayt/images/10.jpg')"
>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      <h1 class="heading" data-aos="fade-up">Доставка</h1>

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
          Доставка
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="section">
<div class="container">
  <div class="row text-left mb-5">
    <div class="col-12">
      <h2 class="font-weight-bold heading text-primary mb-4">Доставка</h2>
    </div>
    <div class="col-lg-6">
      <p class="text-black-50">
          Мы рады предложить Вам следующие варианты доставки и самовывоза товара:

         
          
          
      </p>
      <p class="text-black-50">
          1. Самовывоз товара своими силами / транспортной компанией.
          
          Получение товара со склада в г. Санкт-Петербурге. 
          График работы склада с 10.00 до 17.00.  
          Адрес склада: Санкт-Петербург, Гаванская ул., дом 12, корпус 2, пом. 1-Н.
          Телефон склада +7 (812) 401-44-13
      </p>
      <p class="text-black-50">
          2. Доставка до двери, т/к: Major Express, СДЭК, Деловые Линии.
      </p>
    </div>
  </div>
</div>
</div>

<p style="font-size: 20px;" class="text-center">*Доставка клиентам в регионы от 1-2 дней. При заказе от суммы 50 000 Рублей, доставка осуществляется за счет Поставщика.</p>
<div class="section sec-testimonials">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6">
        <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
          Доставка
        </h2>
      </div>
      <div class="col-md-6 text-md-end">
        <div id="testimonial-nav">
          <span class="prev" data-controls="prev">Назад</span>

          <span class="next" data-controls="next">Вперед</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4"></div>
    </div>
    <div class="testimonial-slider-wrap">
      <div class="testimonial-slider">
        <div class="item">
          <div class="testimonial">
            <img
              src="{% static 'sayt/images/Majorex.png' %}"
              alt="Image"
              class="img-fluid  w-50 mb-4"
            />

            <h3 class="h5 text-primary mb-4">Major</h3>
          </div>
        </div>

        <div class="item">
          <div class="testimonial">
            <img
              src="{% static 'sayt/images/dpd.png' %}"
              alt="Image"
              class="img-fluid  w-50 mb-4"
            />
            <h3 class="h5 text-primary mb-4">DPD</h3>
          </div>
        </div>

        <div class="item">
          <div class="testimonial">
            <img
              src="{% static 'sayt/images/cdek.png' %}"
              alt="Image"
              class="img-fluid w-50 mb-4"
            />
            <h3 class="h5 text-primary mb-4">CDEK</h3>

          </div>
        </div>

        <div class="item">
          <div class="testimonial">
            <img
              src="{% static 'sayt/images/DHL.png' %}"
              alt="Image"
              class="img-fluid w-50 mb-4"
            />
            <h3 class="h5 text-primary mb-4">DHL</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}