{% extends  'sayt/base.html' %}
{% load static %}
{% block title %} <title>Доставка ic-stock.ru</title> {% endblock %}

{% block content %}
<style>
  @media only screen and (max-width: 991px) {
  .box-feature {
    text-align: center;
    object-fit: cover;
  }
}
</style>
<!-- section 1 -->
<div class="hero page-inner overlay" style="background-image: url('../../static/sayt/images/10.jpg')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        {% include   'sayt/search.html' %}

        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
          <ol class="breadcrumb text-center justify-content-center">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
            <li class="breadcrumb-item active text-white-50" aria-current="page">
               Доставка
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- end section 1 -->


<!-- section 2 -->
<div class="section">
  <div class="container">
    <div class="row text-left mb-5">
      <div class="col-12">
        <h2 class="font-weight-bold heading text-primary mb-4"  style="font-weight: bold;">Доставка</h2>
      </div>
      <div class="col-lg-3 col-lg-3" data-aos="fade-up" data-aos-delay="300" >
        <div class="box-feature mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
          <span class="mb-4 d-block">
            <img src="{% static 'sayt/icons/map.png' %}" style="width: 50%;height: 100px;object-fit: cover;" alt="">
          </span>
          <h3 class="text-black mb-3 font-weight-bold" style="font-size: 20px;font-weight: bold;">
            Самовывоз <br> бесплатно
          </h3>
          <p class="text-black-50" style="font-size: 16px;font-weight: bold;">
            СП, Софийская ул, <br> дом 17
          </p>
        </div>
      </div>
  
      <div class="col-lg-3 col-lg-3" data-aos="fade-up" data-aos-delay="300" >
        <div class="box-feature mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
          <span class="mb-4 d-block">
            <img src="{% static 'sayt/icons/ebook.png' %}" style="width: 50%;height: 100px;object-fit: cover;" alt="">
          </span>
          <h3 class="text-black mb-3 font-weight-bold" style="font-size: 20px;font-weight: bold;">
            Бесплатная <br> доставка
          </h3>
          <p class="text-black-50" style="font-size: 16px;font-weight: bold;" >
            До Деловых линий в Санкт-Петербурге
          </p>
        </div>
      </div>
  
      <div class="col-lg-3 col-lg-3" data-aos="fade-up" data-aos-delay="300" >
        <div class="box-feature mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
          <span class="mb-4 d-block">
            <img src="{% static 'sayt/icons/gift.png' %}" style="width: 50%;height: 100px;object-fit: cover;" alt="">
          </span>
          <h3 class="text-black mb-3 font-weight-bold" style="font-size: 20px;font-weight: bold;">
            Экспресс <br> доставка от 1 дня
          </h3>
          <p class="text-black-50" style="font-size: 16px;font-weight: bold;">
            Возможность срочной доставки
          </p>
        </div>
      </div>
  
      <div class="col-lg-3 col-lg-3" data-aos="fade-up" data-aos-delay="300" >
        <div class="box-feature mb-4" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
          <span class="mb-4 d-block">
            <img src="{% static 'sayt/icons/book.png' %}" style="width: 50%;height: 100px;object-fit: cover;" alt="">
          </span>
          <h3 class="text-black mb-3 font-weight-bold" style="font-size: 20px;font-weight: bold;">
            Доставка <br> по городу
          </h3>
          <p class="text-black-50" style="font-size: 16px;font-weight: bold;">
            Санкт-Петербург — <br> от 500 рублей
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
<!-- end section 2 -->


<!-- section 3 -->
<div class="section pt-0">
    
  <div class="container">
    <div class="row justify-content-between mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
        <div class="img-about dots">
          <img src="{% static 'sayt/icons/1.png' %}" alt="Image" style="width: 100%;height: 350px;object-fit: cover;" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-5" style="font-weight: bold;">
        <h1 style="color: #000 !important;font-weight: bold;" >
          До терминала
        </h1>
        <br>
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          Компания ООО «ПРОАВТОМАТИКА»  доставляет оборудование по всей России и СНГ.
        </p>
        <br>
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          ООО «ПРОАВТОМАТИКА»  может предоставить доставку до терминала вашего города транспортной компанией. Это наиболее распространённый вариант доставки в связи с сокращением расходов на логистические услуги.
        </p>
        <br>
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          Вы сможете получить Товар с терминала в любое удобное для Вас время.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end section 3 -->

<!-- section 4 -->
<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-between mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="img-about dots">
          <img src="{% static 'sayt/icons/2.png' %}" alt="Image" style="width: 100%;height: 350px;object-fit: cover;" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="d-flex feature-h">
          <div class="feature-text">
            <h1 style="color: #000;font-weight: bold;">
              Самовывоз со склада
            </h1>
            <br>
            <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
              Самовывоз со склада в Санкт-Петербурге оформляется бесплатно и предполагает кратчайший срок поставки - менее часа.
            </p>
            <br>
            <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
              Пожалуйста, не забывайте предоставлять доверенность компании, являющейся Покупателем или Грузополучателем товара. Она дает право получения Товара и подписания соответствующего комплекта отгрузочных документов.
            </p>
            <br>
            <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
              Отгрузка товара со склада из наличия осуществляется на следующий день после 13:00.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end section 4 -->

<!-- section 5 -->
<div class="section pt-0">
    
  <div class="container">
    <div class="row justify-content-between mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
        <div class="img-about dots">
          <img src="{% static 'sayt/icons/3.png' %}" alt="Image" style="width: 100%;height: 350px;object-fit: cover;" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-5" style="font-weight: bold;">
        <h1 style="color: #000 !important;font-weight: bold;" >
          До двери
        </h1>
        <br>
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          Мы рекомендуем оформлять именно ее при наличии срочности поставки заказа Покупателю или при возникновении трудностей с получением заказа через терминал.
        </p>
        <br>
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          Такой тип доставки возможен для городов в любой точке Росcии.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end section 5 -->

<!-- section 6 -->
<div class="section sec-testimonials">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6">
        <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0"  style="font-weight: bold;">
          Доставка
        </h2>
      </div>
      <div class="col-md-6 text-md-end">
        <div id="testimonial-nav">
          <span class="prev" data-controls="prev">Назад</span>

          <span class="next" data-controls="next">Вперед</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4"></div>
    </div>
    <div class="testimonial-slider-wrap">
      <div class="testimonial-slider">
        {% for item in objects_all %}
          <div class="item">
            <div class="testimonial d-flex justify-content-center align-items-center flex-column">
              <img  src="{{item.img.url}}"  alt="{{item.name}}" class="img-fluid  w-50 mb-4"/>
              <h3 class="h5 text-primary mb-4">{{item.name}}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end section 6 -->

{% endblock %}