{% extends  'sayt/base.html' %}
{% load static %}
{% block title %} <title>{{categor.name}} ic-stock.ru</title> {% endblock %}

{% block content %}
<style>
  .pagi{
    width: auto;
    padding: 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pagi ul{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pagi ul li{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #0176BD;
  }
  .pagi ul .first{
    width: 100px;
  }
  .pagi ul .last{
    width: 150px;
  }
  .pagi ul li a{
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }
</style>

<div
class="hero page-inner overlay"
style="background-image: url('../../static/sayt/images/10.jpg')"
>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      {% include   'sayt/search.html' %}

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
          <li class="breadcrumb-item"><a href="{% url 'all_category' %}">Каталоги</a></li>
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
          {{categor.name}}
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-6">
              <h2 class="font-weight-bold text-primary heading">
                {{categor.name}} 
              </h2>
            </div>
          </div>
        <div class="row">
             {% for item in page_obj %}
        <div class="col-lg-4 mt-4">
          <div class="card" style="width: 100%;">
            <div class="card-header text-center">
              {% if item.categorsiya_id.img_categoriya %}
              <img src="{{item.categorsiya_id.img_categoriya.url}}" class="card-img-top text-center" style="width: 60%;object-fit: cover;" alt="{{item.name}}">
              {% else %}
              <img src="{% static 'sayt/def.png' %}" class="img-fluid rounded-start" alt="{{item.name}}">
    
              {% endif %}
            </div>
            <div class="card-body">
              <p class="card-title">
                <span style="font-weight: bold;font-size: 18px;">Наименование:</span > 
                <span style="font-weight: 650;font-size: 16px;">
                  <a href="{% url 'in_product' item.brend_id.name item.atrikul %}">{{item.atrikul}}</a>
                </span>
              </p>
              <p class="card-text" style="font-weight: bold;">{{item.description|truncatechars:120}}</p>
              <p class="card-title">
                <span style="font-weight: bold;font-size: 16px;">Наличие :</span> 
                <a href="#" style="font-weight: bold;font-size: 16px;">более 500 штук</a>
            </p>
              <!-- <p class="card-title" >
                <span style="font-weight: bold;font-size: 16px;">Отправить запрос :</span > 
                  <a href="{% url 'client_post' item.id %}" style="font-weight: bold;font-size: 16px;">по запросу</a>
                </p> -->
              <a href="{% url 'in_product' item.brend_id.name item.atrikul %}" class="btn btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
        {% endfor %}
        
        </div>
    </div>
</div>




<nav aria-label="Page navigation example text-center">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <!-- <span aria-hidden="true">&raquo;</span> -->
      <a href="?page={{ page_obj.previous_page_number }}"  class="page-link">« Назад</a>
    </li>
  

  {% if page_obj.number > 3 %}
    <li class="page-item"><a href="?page=1" class="page-link ">1</a></li>
    {% if page_obj.number > 4 %}
      <li class="page-item"><span class="page-link">...</span></li>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <li class="page-item"><span class="page-link">...</span></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
  {% endif %}
    <li class="page-item">
      <a  href="?page={{ page_obj.next_page_number }}" class="page-link">Следующий</a>
    </li>
{% endif %}

  </ul>
</nav>




{% endblock %}