{% extends  'sayt/base.html' %}
{% load static %}
{% block title %} <title>{{categor.name}} ic-stock.ru</title> {% endblock %}

{% block content %}

<div
class="hero page-inner overlay"
style="background-image: url('../../static/sayt/images/10.jpg')"
>
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
      <h1 class="heading" data-aos="fade-up">{{categor.name}}</h1>

      <nav
        aria-label="breadcrumb"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <ol class="breadcrumb text-center justify-content-center">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
          <li class="breadcrumb-item"><a href="{% url 'all_category' %}">Каталоги</a></li>
          <li
            class="breadcrumb-item active text-white-50"
            aria-current="page"
          >
          {{categor.name}}
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>

<div class="section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-lg-6">
              <h2 class="font-weight-bold text-primary heading">
                {{categor.name}} продукты
              </h2>
            </div>
          </div>
        <div class="row">
             {% for item in objects_product %}
        <div class="col-lg-4 mt-2">
          <div class="card" style="width: 100%;">
            <img src="{{item.img.url}}" class="card-img-top" alt="{{item.name}}">
            <div class="card-body">
              <p class="card-title">
                <span style="font-weight: bold;font-size: 18px;">Артикул:</span > 
                <span style="font-weight: 650;font-size: 16px;">
                  <a href="{% url 'in_product' item.id %}">{{item.atrikul}}</a>
                </span>
              </p>
              <p class="card-text" style="font-weight: bold;">{{item.description|truncatechars:120}}</p>
              <p>
                <a href="#" style="font-weight: bold;">Доступно к заказу от 500 шт</a>
              </p>
              <p class="card-title" >
                <span style="font-weight: bold;font-size: 16px;">доставка :</span > 
                  <a href="{% url 'client_post' item.id %}" style="font-weight: bold;font-size: 16px;">цена по запросу</a>
                </p>
              <a href="{% url 'in_product' item.id %}" class="btn btn-primary">Подробнее</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>







{% endblock %}