{% extends  'sayt/base.html' %}
{% load static %}
{% block title %} <title>{{objects.name}} ic-stock.ru</title> {% endblock %}

{% block content %}

<div class="hero page-inner overlay" style="background-image: url('../../static/sayt/images/10.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">{{objects.name}}</h1>
                {% include   'sayt/search.html' %}

                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'all_category' %}">{{objects.categorsiya_id}}</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">{{objects.name}}</li>
                    </ol>
                </nav>
                
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4 p-4">
                {% if objects.categorsiya_id.img_categoriya  %}
                <img src="{{objects.categorsiya_id.img_categoriya.url}}" class="img-fluid rounded-start" alt="{{objects.name}}">
                {% else %}
                <img src="{% static 'sayt/def.png' %}" class="img-fluid rounded-start" alt="{{objects.name}}">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">
                        <span style="font-weight: bold;font-size: 18px;">Артикул: </span> 
                        <span style="font-weight: 650;font-size: 16px;">
                            <a href="#">{{objects.amunt}}</a>
                        </span>
                    </p>
                    <p class="card-title">
                        <span style="font-weight: bold;font-size: 18px;">
                            Наименование: 
                        </span > 
                        <span style="font-weight: 650;font-size: 16px;">
                            <a href="#">{{objects.atrikul}}</a>
                        </span>
                    </p>
                    <p class="card-title">
                        <span style="font-weight: bold;font-size: 18px;">
                            Описание: 
                        </span > 
                        <span style="font-weight: 650;font-size: 16px;">
                            <a href="#">{{objects.name}} <br>
                            <a href="#">{{objects.description}} 
                            </a>
                        </span>
                    </p>
                    <p class="card-text">
                        <span style="font-weight: bold;font-size: 18px;">Тип: </span> 
                        <span style="font-weight: 650;font-size: 16px;">
                            <a href="#">{{objects.categorsiya_id}}</a>
                        </span>
                    </p>
                    <p class="card-text">
                        <span style="font-weight: bold;font-size: 18px;">Производитель: </span > 
                            <span style="font-weight: 650;font-size: 16px;">
                                <a href="#">{{objects.brend_id.name}}</a>
                            </span>
                        </p>
                    
                    <p class="card-text">
                        <span style="font-weight: bold;font-size: 18px;">в наличие: </span> 
                        <span style="font-weight: 650;font-size: 16px;">
                            <a href="#">более 500 штук</a>
                        </span>
                    </p>
                    <p class="card-text"><span style="font-weight: bold;font-size: 18px;">Цена: </span> 
                        <span style="font-weight: 650;font-size: 16px;">
                            <a href="{% url 'client_post' objects.id %}" style="color: red;">по запросу</a>
                        </span>
                    </p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}