{% extends  'sayt/base.html' %}
{% load static %}
{% block title %} <title>ic-stock.ru</title> {% endblock %}

{% block content %}

<div class="hero">
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('../../static/sayt/images/img_slayd.jpg')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('../../static/sayt/images/8.jpg')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('../../static/sayt/images/10.jpg')"
      ></div>
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center">
          <h1 class="heading" data-aos="fade-up">
            Поиск по номеру изделия в мировых складах
          </h1>
          <form  method="post" class="narrow-w form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            {% csrf_token %}
            <input type="search" class="form-control px-4" placeholder="Поиск" name="search"/>
            <button type="submit" class="btn btn-primary">Поиск</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-lg-6">
          <h2 class="font-weight-bold text-primary heading">
            Новые продукты
          </h2>
        </div>
        <div class="col-lg-6 text-lg-end">
          <p>
            <a
              href="#"
              target="_blank"
              class="btn btn-primary text-white py-3 px-4"
              >Подобрать компоненты</a
            >
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="property-slider-wrap">
            <div class="property-slider">
              {% for item in objects_product %}
              <div class="property-item">
                <a href="{% url 'in_product' item.id %}" class="img">
                  <img src="{{item.img.url}}" alt="{{item.name}}" class="img-fluid" />
                </a>

                <div class="property-content">
                  <div class="price mb-2"><span>{{item.name}}</span></div>
                  <div>
                    <a href="{% url 'in_product' item.id %}" class="btn btn-primary py-2 px-3 mt-3">Подробнее</a>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- .item -->

            </div>

            <div
              id="property-nav"
              class="controls"
              tabindex="0"
              aria-label="Carousel Navigation"
            >
              <span
                class="prev"
                data-controls="prev"
                aria-controls="property"
                tabindex="-1"
                >Назад</span
              >
              <span
                class="next"
                data-controls="next"
                aria-controls="property"
                tabindex="-1"
                >Вперед</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Advends -->
  <div class="section bg-light">
    <h3 class="text-center">Преимущества</h3>
    <div class="container mt-5">
      <div class="row">
        {% for item in objects_advend %}
        <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
          <div class="box-feature mb-4">
            <img src="{{item.img.url}}" class="flaticon-house mb-4 d-block text-center" style="width: 20%;" alt="">
            <p><a href="#" class="learn-more" style="font-size: 20px;">{{item.title}}</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End Advends -->


  <!-- About categoriya -->
  <div class="section">
    <div class="container">
      <div class="row text-left mb-5">
        <div class="col-12">
          <h2 class="font-weight-bold heading text-primary mb-4">О НАС</h2>
        </div>

      </div>
    </div>
  </div>

  <div class="section pt-0">
    
    <div class="container">
      <div class="row justify-content-between mb-5">
        <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
          <div class="img-about dots">
            <img src="{% static 'sayt/images/hero_bg_3.jpg' %}" alt="Image" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-5">
          <p class="text-black-50">
            Мы считаем, что уход за собой – лучший подарок.
Наш салон красоты – это место, где вы сможете побаловать себя, а так же отдохнуть в приятной расслабляющей обстановке. Пока вы будете отдыхать наши мастера будут работать над вашим индивидуальным образом.
Мы с радостью помогаем осуществлять мечты.
Сделайте счастливее себя и приходите к нам, даже просто выпить чашечку кофе. И вы насладитесь главным — атмосферой тепла, внимания и доброты наполняющей пространство салона СИЯЙ
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end about -->


  <!-- Brneds -->
  <div class="section sec-testimonials">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-6">
          <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
            Бренд
          </h2>
        </div>
        <div class="col-md-6 text-md-end">
          <div id="testimonial-nav">
            <span class="prev" data-controls="prev">Назад</span>

            <span class="next" data-controls="next">Вперед</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4"></div>
      </div>
      <div class="testimonial-slider-wrap">
        <div class="testimonial-slider">
          {% for brend in objects_brend %}
          <div class="item">
            <div class="testimonial">
              <img src="{{brend.img_brend.url}}" alt="{{brend.name}}" class="img-fluid mb-4" style="width: 30% !important;height: 10%;" />
              <h3 class="h5 text-primary mb-4">{{brend.name}}</h3>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
<!-- end brends -->
{% endblock %}