{% extends 'sayt/base.html' %}
{% load static %}
{% block seo %}
  {% for item in request.get_seo %}
    <meta name="{{item.title}}" content="{{item.content}}">
  {% endfor %}
{% endblock %}
{% block title %} <title>ic-stock.ru</title> {% endblock %}

{% block content %}
<style>
  .search_wrapper {
    position: relative;
  }

  .listContainer {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    background-color: #fff !important;
    max-height: 300px;
    overflow-y: scroll;
    width: 98.5%;
  }

  .list_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    /* padding-left: 0 !impo; */
    padding: 10px;
  }
  .list_container a .list_item .list_item_left{
    width: 100%;
  }
  .list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(188, 184, 184);
  }
  .list_container a .list_item .list_item_left .list_item_title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list_item img{
    width: 10%;
    height: 50px;
    object-fit: cover;
  }
  .list_item_left,
  .list_item_right {
    display: flex;
    align-items: center;
  }

  .list_item_quantity {
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .list_item_title p {
    margin-bottom: 0;
  }

  /* scroll */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: silver;
  }


  @media (max-width:576px) {
    .search_wrapper {
      width: 100%;
    }
  }
</style>


<div class="hero">
  <div class="hero-slide">
    <div class="img overlay" style="background-image: url('../../static/sayt/photo/8.jpg')"></div>
    <div class="img overlay" style="background-image: url('../../static/sayt/photo/22.jpg')"></div>
    <div class="img overlay"  style="background-image: url('../../static/sayt/images/10.jpg')"></div>
  </div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center">
        
        <div class="narrow-w form-search d-flex align-items-stretch mb-3" method="POST" data-aos="fade-up" data-aos-delay="200">
          {% csrf_token %}
            <input type="search" class="form-control px-4" placeholder="Поиск" name="search" id="search"/>
            <div class="listContainer"></div>
            <div class="list"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">

    <div class="row">
      {% for item in objects_category %}
      <div class="col-lg-4 mt-4">
        <div class="card" style="width: 100%;">
          <div class="card-header text-center">
            {% if item.img_categoriya %}
              <img src="{{item.img_categoriya.url}}" class="card-img-top text-center" style="width: 60%;object-fit: cover;" alt="{{item.name}}">
            {% else %}
              <img src="{% static 'sayt/def.png' %}" class="img-fluid rounded-start" alt="{{item.name}}">
            {% endif %}
          </div>
          
          <div class="card-body">
            <p class="card-text" >
              <!-- <span style="font-weight: bold;font-size: 18px;">Наименование:</span >  -->
                <span style="font-weight: 650;font-size: 16px;">
                  <a href="">{{item.name}}</a>
                </span>
              </p>
            <!-- <p class="card-text" style="font-weight: bold;">{{item.description|truncatechars:120}}</p>
            <p class="card-title">
                <span style="font-weight: bold;font-size: 16px;">Наличие :</span> 
                <a href="#" style="font-weight: bold;font-size: 16px;">более 500 штук</a>
            </p> -->
            <!-- <p class="card-title" >
              <span style="font-weight: bold;font-size: 16px;">Отправить запрос :</span > 
                <a href="" style="font-weight: bold;font-size: 16px;"> по запросу</a>
              </p> -->
            <a href="{% url 'in_categor_product' item.urls %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Advends -->
<div class="section bg-light">
  <h3 class="text-center" style="font-weight: bold;">Преимущества</h3>
  <div class="container mt-5">
    <div class="row">
      {% for item in objects_advend %}
      <div class="col-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
        <div class="box-feature mb-4">
          <img src="{{item.img.url}}" class="flaticon-house mb-4 d-block text-center" style="width: 50%;" alt="">
          <p><a href="#" class="learn-more" style="font-size: 20px;">{{item.title}}</a></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Advends -->


<!-- About categoriya -->
<div class="section">
  <div class="container">
    <div class="row text-left mb-5">
      <div class="col-12">
        <h2 class="font-weight-bold heading text-primary mb-4" style="font-weight: bold;">О НАС</h2>
      </div>

    </div>
  </div>
</div>

<div class="section pt-0">
  
  <div class="container">
    <div class="row justify-content-between mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
        <div class="img-about dots">
          <img src="{% static 'sayt/photo/img1.png' %}" alt="Image" style="width: 100%;" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-5" style="font-weight: bold;">
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          Наша компания, предлагает необходимые электронные компоненты для обеспечения деятельности многих предприятий, где есть электроника, автоматика, электротехника и есть специалисты ее обслуживающие. Широкий ассортимент дает клиентам возможность выбора элементной базы, не только для создания оригинальных инновационных проектов, но и для комплектации серийного производства. Часть продукции поставляется на эксклюзивной основе.
        </p>
        <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
          Нашими партнерами могут стать все - от опытных мастеров и оптовых торговцев до новичков. Всем нашим клиентам мы готовы предоставить свои знания, опыт, поддержку на начальной стадии становления бизнеса. Мы ценим своих заказчиков и всегда готовы предложить им решения, которыми они останутся довольны. Мы не даём нереальные обещания и берёмся за выполнение только тех задач, которые способны решить. Мы всегда готовы выслушать Ваши пожелания в адрес нашей компании.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- end about -->


<!-- Brneds -->
<div class="section sec-testimonials">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-6">
        <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0" style="font-weight: bold;">
          Бренд
        </h2>
      </div>
      <div class="col-md-6 text-md-end">
        <div id="testimonial-nav">
          <span class="prev" data-controls="prev">Назад</span>

          <span class="next" data-controls="next">Следующий</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
      </div>
    </div>
    <div class="testimonial-slider-wrap">
      <div class="testimonial-slider">
        {% for item in objects_brend  %}
          <div class="item">
            <div class="testimonial d-flex justify-content-center align-items-center flex-column mb-3">
              <img src="{{item.img_brend.url}}" alt="Image" class="img-fluid  mb-4" style="width: 50%;"/>
              <h3 class="h5 text-primary mb-4">{{item.name}}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end brends -->

<!-- section 5 -->
<div class="hero">
  <div class="hero-slide">
    <div class="img overlay">
      <video id="video1" style="width: 100%;height: 100%;object-fit: cover;padding: 0;margin: 0;" loop autoplay muted controls>
        <source src="{% static 'sayt/2.mp4' %}" type="video/mp4">
        <!-- <source src="{% static 'sayt/2.mp4' %}" type="video/ogg"> -->
        Your browser does not support HTML video.
      </video>
    </div>
  </div>

  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <h1 style="color: #fff;font-weight: bold;" class="tx">Оставьте заявку</h1><br>
              <h4 style="color: #fff;font-weight: bold;" class="txt">Отправьте свой вопрос или заявку в свободной форме и мы свяжемся с вами в течение суток:</h4>
              <br>
              <ul class="txt">
                  <li style="color: #fff;font-weight: bold;font-size: 18px;">Проконсультируем по стоимости и срокам доставки продукции.</li><br>
                  <li style="color: #fff;font-weight: bold;font-size: 18px;">Ответим на все вопросы.</li><br>
                  <li style="color: #fff;font-weight: bold;font-size: 18px;">Поможем подобрать аналоги.</li>
      
              </ul>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <p class="text-cnter" style="color: red;font-size: 20px;font-weight: bold;">{{error}}</p>
            <form action="{% url 'supply_line' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-12 mb-3">
                  <input type="full_name" class="form-control" name="full_name" placeholder="Ф.И.О"/>
                </div>
                <div class="col-12 mb-3">
                  <input type="comany" class="form-control" name="company" placeholder="Компания"/>
                </div>
                <div class="col-6 mb-3">
                  <input type="email" class="form-control" name="email" placeholder="E-mail"/>
                </div>
                <div class="col-6 mb-3">
                  <input type="phone" class="form-control" name="phone" placeholder="Телефон"/>
                </div>
                <div class="col-12 mb-3">
                  <textarea name="content" id="" cols="30" rows="7" class="form-control" placeholder="Артикулы интересующих позиций*"></textarea>
                </div>
      
                <div class="col-12">
                  <input type="submit" value="Отправить сообщение" class="btn btn-primary"/>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>
<!-- end section 5 -->

<script>

  // search
  document.querySelector('#search').addEventListener('input', (e) => {
    document.querySelector('.list_container')?.remove();
    let list = document.querySelector('.listContainer');
    document.querySelector('#search').style.borderRadius = "0"
    if (e.target.value !== "") {
      fetch(`https://ic-stock.ru/all_product_search_view/?search=${e.target.value}`, {
        method: "GET",
        headers: {
          "Content-type": "application/json"
        }
      })
        .then(res => res.json())
        .then(data => {
          // let albums = data.data;
          // console.log(albums);
          let ul = document.createElement('ul');
          ul.classList.add("list_container");
          ul.style.display = "flex";

          data.map(item => {
            // create element
            let li = document.createElement('li');
            let a = document.createElement('a');
            let divLeft = document.createElement('div');
            let divRight = document.createElement('div');
            let img = document.createElement('img');
            let div = document.createElement('div');
            let p1 = document.createElement('p');
            let p2 = document.createElement('p');
            let span = document.createElement('span');
            let input = document.createElement('input');
            var id = item.id
            // add class
            li.classList.add('list_item');
            a.href=`product/${item.brend_id.ur}-${item.atrikul}`;
            divLeft.classList.add('list_item_left');
            // divRight.classList.add('list_item_right');
            img.classList.add("list_item_img");
            div.classList.add("list_item_title");
            p1.classList.add("list_item_title_top");
            p2.classList.add("list_item_title_bottom");
            span.classList.add("list_item_price");
            // input.classList.add("list_item_quantity");

            img.src = item.categorsiya_id.img_categoriya;
            p1.textContent = item.name;
            p2.textContent = item.atrikul;
            div.appendChild(p1);
            div.appendChild(p2);
            divLeft.appendChild(img);
            divLeft.appendChild(div);
            span.textContent = item.price;
            input.setAttribute('type', "number");
            input.value = item.id;
            divRight.appendChild(span);
            // divRight.appendChild(input);

            a.appendChild(li)
            li.appendChild(divLeft);
            li.appendChild(divRight);
            ul.appendChild(a);
          })
          list.appendChild(ul);
        })
    } else {
      document.querySelector('.list_container').remove();
      document.querySelector('#search').style.borderRadius = "30px";
    }
  })
</script>

{% endblock %}