{% load static %}


<style>
    .search_wrapper {
    position: relative;
  }

  .listContainer {
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    background-color: #fff !important;
    max-height: 300px;
    overflow-y: scroll;
    width: 98.5%;
  }

  .list_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    /* padding-left: 0 !impo; */
    padding: 10px;
  }
  .list_container a .list_item .list_item_left{
    width: 100%;
  }
  .list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(188, 184, 184);
  }
  .list_container a .list_item .list_item_left .list_item_title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list_item img{
    width: 10%;
    height: 50px;
    object-fit: cover;
  }
  .list_item_left,
  .list_item_right {
    display: flex;
    align-items: center;
  }

  .list_item_quantity {
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .list_item_title p {
    margin-bottom: 0;
  }

  /* scroll */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: silver;
  }


  @media (max-width:576px) {
    .search_wrapper {
      width: 100%;
    }
  }

</style>

<div class="narrow-w form-search d-flex align-items-stretch mb-3" method="POST" data-aos="fade-up" data-aos-delay="200">
      <input type="search" class="form-control px-4" placeholder="Поиск" name="search" id="search"/>
      <button class="btn btn-primary" style="display: none;" id="mBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">Поиск</button>
      <div class="listContainer"></div>
      <div class="list"></div>

      
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 110px;">
  <div class="modal-dialog modal-xl" style="margin-top: 20px;">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Добрый день.</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-weight: bold;">Подскажите пожалуйста цены и сроки поставки на позицию: </p>
        <form action="" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6 mb-3">
              <label for="recipient-name" class="col-form-label">Продукт:</label>
              <input type="text" class="form-control" id="recipient-name" name="product">
            </div>
            <div class="col-lg-6 mb-3">
              <label for="recipient-name" class="col-form-label">Цены :</label>
              <input type="text" class="form-control" id="recipient-name" name="price">
            </div>
            <div class="col-lg-6 mb-3">
              <label for="recipient-name" class="col-form-label">Cроки поставки:</label>
              <input type="text" class="form-control" id="recipient-name" name="and_date">
            </div>
            <div class="col-lg-6 mb-3">
              <label for="recipient-name" class="col-form-label">Позицию:</label>
              <input type="text" class="form-control" id="recipient-name" name="locat">
            </div>
          </div> 
          
          <button class="btn btn-primary">Отправка</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  // search
  document.querySelector('#search').addEventListener('input', (e) => {
    document.querySelector('.list_container')?.remove();
    let list = document.querySelector('.listContainer');
    document.querySelector('#search').style.borderRadius = "0"
    if (e.target.value !== "") {
      fetch(`https://ic-stock.ru/all_product_search_view/?search=${e.target.value}`, {
        method: "GET",
        headers: {
          "Content-type": "application/json"
        }
      })
        .then(res => res.json())
        .then(data => {
          if (data.length === 0){
            let mBtn = document.getElementById('mBtn')
            mBtn.style.display = 'flex'
          }else{
            let ul = document.createElement('ul');
          ul.classList.add("list_container");
          ul.style.display = "flex";
          
          data.map(item => {
            

            // create element
            let li = document.createElement('li');
            let a = document.createElement('a');
            let divLeft = document.createElement('div');
            let divRight = document.createElement('div');
            let img = document.createElement('img');
            let div = document.createElement('div');
            let p1 = document.createElement('p');
            let p2 = document.createElement('p');
            let span = document.createElement('span');
            let input = document.createElement('input');
            var id = item.id
            // add class
            li.classList.add('list_item');
            a.href=`product/${item.brend_id.ur}-${item.atrikul}`;
            divLeft.classList.add('list_item_left');
            // divRight.classList.add('list_item_right');
            img.classList.add("list_item_img");
            div.classList.add("list_item_title");
            p1.classList.add("list_item_title_top");
            p2.classList.add("list_item_title_bottom");
            span.classList.add("list_item_price");
            // input.classList.add("list_item_quantity");

            img.src = item.categorsiya_id.img_categoriya;
            p1.textContent = item.name;
            p2.textContent = item.atrikul;
            div.appendChild(p1);
            div.appendChild(p2);
            divLeft.appendChild(img);
            divLeft.appendChild(div);
            span.textContent = item.price;
            input.setAttribute('type', "number");
            input.value = item.id;
            divRight.appendChild(span);
            // divRight.appendChild(input);

            a.appendChild(li)
            li.appendChild(divLeft);
            li.appendChild(divRight);
            ul.appendChild(a);
          })
          list.appendChild(ul);
          }
       
        })
    } else {
      document.querySelector('.list_container').remove();
      document.querySelector('#search').style.borderRadius = "30px";
    }
  })
</script>




<!-- <style>
  .container2 {
  position: relative;

}
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.632);
  opacity: 0;
  transition: all 0.4s;
  z-index: 999;
  visibility: hidden;
}
.modal_active {
  opacity: 1;
  transition: all 0.4s;
  visibility: visible;
}

.modal_content {
  background-color: #fff;
  width: 700px;
  height: 700px;
  padding: 45px;
  text-align: center;
  transform: scale(0);
  transition: all 0.4s;
  background-image: url('../../static/sayt/photo/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
  font-family: Унаследовать;
  color: rgb(0, 0, 0) !important;
  inset: 0px;
  display: block;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal_content_active {
  transform: scale(1);
  transition: all 0.4s;
}
.modal_content_item > .modal_exit_btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}
.modal_content_item > .modal_exit_btn > svg {
  transform: scale(1);
  transition: all 0.4s;
}
.modal_content_item > .modal_exit_btn > svg:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.modal_content_item > h1 {
  font-size: 30px;
  color: #3e3e3e;
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 1.75em;
}
.modal_content_item > form {
  word-break: break-word;
  width: 100%;
}
.modal_content_item > form > label {
  text-transform: uppercase;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  font-family: Унаследовать;
}
.modal_content_item > form > input {
  width: 100%;
  display: block;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 17px;
  padding: 0.75em;
  box-shadow: none;
  box-sizing: border-box;
  border-radius: 2px;
  height: auto;
  border-width: 1px;
  border-style: solid;
  color: #666;
  height: auto;
  border-color: #ddd;
  border-radius: 2px;
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: inherit;
  font-size: 1rem;
  line-height: 1.6em;
  margin-bottom: 1.2em;
}
.modal_content_item > form > input[type="submit"] {
  margin-top: 30px;
  border-radius: 2px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1em;
  border-style: solid;
  border-width: 0;
  color: #ffffff;
  border-color: #F58514;
  background-color: #F58514 ;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
}
.modal_content_item > form > input[type="submit"]:focus,
.modal_content_item > form > input[type="submit"]:hover {
  color: #ffffff;
  background-color: #db8733;
  border-color: #db8733;
}
@media screen and (max-width: 768px) {
  .modal_content {
    width: 100% !important;
    max-width: 100% !important;
    height: 700px !important;
    box-sizing: border-box;
  }
}
</style> -->



<!-- 
<div class="modal_container">
  <div class="modal_content">
    <div class="modal_content_item">
      <div class="modal_exit_btn" onclick="exitModal()">
        <svg
          class="ays_pb_material_close_icon"
          xmlns="https://www.w3.org/2000/svg"
          height="36px"
          viewBox="0 0 24 24"
          width="36px"
          fill="#ffffff"
          alt="Pop-up Close"
        >
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          ></path>
        </svg>
      </div>
      <h1 style="font-weight:bold;color: #fff;">ХОТИТЕ, МЫ ВАМ ПЕРЕЗВОНИМ?</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-12">
            <label for="firstName" class="form-label" style="font-weight:bold;color: #fff;">ВАШЕ ИМЯ</label>
            <input type="text" id="firstName" class="form-control" name="fullName" />
          </div>
          <div class="col-lg-12 mt-2">
            <label for="email" class="form-label" style="font-weight:bold;color: #fff;">ВАШ E-MAIL</label>
            <input type="email" id="email" class="form-control" name="e_mail" />
          </div>
          <div class="col-lg-12 mt-2">
            <label for="phoneNumber" class="form-label" style="font-weight:bold;color: #fff;">ВАШ ТЕЛ</label>
            <input type="text" id="phoneNumber" class="form-control" name="e_phone" />
          </div>
        </div>
        
        
        
        <input type="submit" value="ЖДУ ЗВОНКА" />
      </form>
    </div>
  </div>
</div> -->