{% extends  'sayt/base.html' %}
{% load static %}
{% block seo %}
  {% for item in request.get_seo %}
    <meta name="{{item.title}}" content="{{item.content}}">
  {% endfor %}
{% endblock %}
{% block title %} <title>Линии поставок ic-stock.ru</title> {% endblock %}

{% block content %}

<!-- section 1 -->
<div class="hero page-inner overlay" style="background-image: url('../../static/sayt/photo/13.jpg')">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center mt-5">
          {% include   'sayt/search.html' %}

          <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
            <ol class="breadcrumb text-center justify-content-center">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
              <li class="breadcrumb-item active text-white-50" aria-current="page">
                Линии поставок
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- end section 1 -->
  
  
  <!-- section 2 -->
  <div class="section">
    <div class="container">
      <div class="row text-left mb-5">
        <div class="col-12">
          <h2 class="font-weight-bold heading text-primary mb-4"  style="font-weight: bold;">Линии поставок</h2>
        </div>
      </div>
    </div>
    </div>
  <!-- end section 2 -->


<!-- section 3 -->
<div class="section pt-0">
    <div class="container">
      <div class="row justify-content-between mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="img-about dots mt-3">
            <img src="{% static 'sayt/12.jpg' %}" alt="Image" style="width: 100%;height: 400px;object-fit: cover;" class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex feature-h">
            <div class="feature-text">
              <h1 style="color: #000;font-weight: bold;">
                Производители
              </h1>
              <br>
              <h4 style="color: #000;font-weight: bold;">
                <span style="color: red;">Прямые контракты</span> с ведущими брендами
              </h4>
              <br>
              <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
                Мы все время стараемся улучшить условия по поставке продукции нашим клиентам: увеличить доступность как можно большего количества позиций для заказа, поставить по наиболее выгодным ценам и в наикратчайшие сроки.
                Мы активно сотрудничаем со многими брендами напрямую, что позволяет нам предлагать наиболее выгодные условия для каждого клиента.

              </p>
              <br>
              <p class="text-black-50" style="font-weight: bold;font-size: 16px;">
                Чтобы получить индивидуальное предложение по представленным ниже брендам, свяжитесь с нами по телефону +7812 333 03 78, либо отправьте запрос по адресу <a href="#" style="color: red;">info@ic-stock.ru</a> .
              </p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
<!-- end section 3 -->



 <!-- section 4 -->
 <div class="section pt-0">
    <div class="container">
    <div class="row">
        {% for item in objects_brend %}
            {% if item.urls %}
                <div class="col-lg-2">
                    <a href="{{item.urls}}">
                        <div class="card text-bg-dark">
                            <img src="{{item.img_brend.url}}" class="card-img" alt="{{item.name}}">
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col-lg-2">
                    <a href="{% url 'supply_line' %}">
                        <div class="card text-bg-dark">
                            <img src="{{item.img_brend.url}}" class="card-img" alt="{{item.name}}">
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
  </div>
 <!-- end section 4 -->

 <!-- section 5 -->
 <div class="hero">
    <div class="hero-slide">
      <div class="img overlay">
        <video id="video1" style="width: 100%;height: 100%;object-fit: cover;padding: 0;margin: 0;" loop autoplay muted controls>
          <source src="{% static 'sayt/2.mp4' %}" type="video/mp4">
          <!-- <source src="{% static 'sayt/2.mp4' %}" type="video/ogg"> -->
          Your browser does not support HTML video.
        </video>
      </div>
    </div>
  
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 style="color: #fff;font-weight: bold;" class="tx">Оставьте заявку</h1><br>
                <h4 style="color: #fff;font-weight: bold;" class="txt">Отправьте свой вопрос или заявку в свободной форме и мы свяжемся с вами в течение суток:</h4>
                <br>
                <ul class="txt">
                    <li style="color: #fff;font-weight: bold;font-size: 18px;">Проконсультируем по стоимости и срокам доставки продукции.</li><br>
                    <li style="color: #fff;font-weight: bold;font-size: 18px;">Ответим на все вопросы.</li><br>
                    <li style="color: #fff;font-weight: bold;font-size: 18px;">Поможем подобрать аналоги.</li>
        
                </ul>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <p class="text-cnter" style="color: red;font-size: 20px;font-weight: bold;">{{error}}</p>
              <form action="{% url 'supply_line' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 mb-3">
                    <input type="full_name" class="form-control" name="full_name" placeholder="Ф.И.О"/>
                  </div>
                  <div class="col-12 mb-3">
                    <input type="comany" class="form-control" name="company" placeholder="Компания"/>
                  </div>
                  <div class="col-6 mb-3">
                    <input type="email" class="form-control" name="email" placeholder="E-mail"/>
                  </div>
                  <div class="col-6 mb-3">
                    <input type="phone" class="form-control" name="phone" placeholder="Телефон"/>
                  </div>
                  <div class="col-12 mb-3">
                    <textarea name="content" id="" cols="30" rows="7" class="form-control" placeholder="Артикулы интересующих позиций*"></textarea>
                  </div>
        
                  <div class="col-12">
                    <input type="submit" value="Отправить сообщение" class="btn btn-primary"/>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>
 <!-- end section 5 -->



{% endblock %}