{% extends  'admin_panel/base.html' %}
{% load static %}
{% block title %} <title>Все продукты</title> {% endblock %}

{% block content %}
<a href="{% url 'create_product_admin' %}" class="btn btn-primary">Добавить продукт</a>
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Все продукты</h4>
            </div>
            <div class="card-body">
                <table  class="table table-bordered  dt-responsive nowrap w-100">
                    <thead class="table-dark">
                    <tr class="text-center">
                        <th style="width: 5%;">№</th>
                        <th style="width: 35%;">Наименование/Артикул</th>
                        <th style="width: 15%;">Каталог</th>
                        <th style="width: 30;">Изображение продукта</th>
                        <th style="width: 15%;">Действия</th>
                    </tr>
                    </thead>
                    {% for item in page_obj %}
                    <tr>
                        <td class="text-center">{{forloop.counter}}</td>
                        <td class="text-center">
                            {{item.name}}/<br>{{item.atrikul}}
                        </td>
                        <td class="text-center">
                            {{item.categorsiya_id}}
                        </td>
                        <td class="text-center">
                            {% if item.categorsiya_id.img_categoriya %}
                                <img src="{{item.categorsiya_id.img_categoriya.url}}" width="50" alt="{{item.title}}">
                            {% else %}
                                <p class="text-danger">К товару не прикреплено изображение</p>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{% url 'info_product_admin' item.id %}" class="btn btn-soft-primary waves-effect waves-light"><i class="bx bx-show-alt font-size-16 align-middle"></i></a>
                            <a href="{% url 'update_product_admin' item.id %}" class="btn btn-soft-success waves-effect waves-light"><i class="bx bx-edit font-size-16 align-middle"></i></a>
                            <a href="{% url  'delete_product_admin' item.id %}" class="btn btn-soft-danger waves-effect waves-light"><i class="bx bx-trash font-size-16 align-middle"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <nav aria-label="Page navigation example text-center">
                    <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                        <!-- <span aria-hidden="true">&raquo;</span> -->
                        <a href="?page={{ page_obj.previous_page_number }}"  class="page-link">« Назад</a>
                      </li>
                    
                  
                    {% if page_obj.number > 3 %}
                      <li class="page-item"><a href="?page=1" class="page-link ">1</a></li>
                      {% if page_obj.number > 4 %}
                        <li class="page-item"><span class="page-link">...</span></li>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  
                  {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                  {% endfor %}
                  
                  {% if page_obj.has_next %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                      <li class="page-item"><span class="page-link">...</span></li>
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                    {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                    {% endif %}
                      <li class="page-item">
                        <a  href="?page={{ page_obj.next_page_number }}" class="page-link">Следующий</a>
                      </li>
                  {% endif %}
                  
                    </ul>
                  </nav>
            </div>
        </div>
        <!-- end cardaa -->
    </div> <!-- end col -->
</div>


{% endblock %}